--extra-index-url https://download.pytorch.org/whl/cu124
boto3>=1.34,<2
botocore>=1.34,<2
gsplat>=1.4
numpy>=1.26,<3
opencv-python-headless>=4.10,<5
pillow>=10,<12
plyfile>=1.0,<2
runpod>=1.6,<2
torch>=2.4
torchvision>=0.19
tqdm>=4.66,<5
